PART - B
Airline Passenger:

In [4]:
import numpy as np
import pandas as pd


1. Load and Analyze Passenger
Data

In [5]:

df = pd.read_csv(r'C:\Users\mccmrfcs\Downloads\AirPassengers.csv')

print(df)

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

2. Load the
passenger counts from AirPassengers.csv into a NumPy array

In [6]:
print(df.head())

     Month  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121

In [7]:
print(df.tail())

       Month  Passengers
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

3. The total
number of passengers across all months.

In [20]:
passenger_counts = df['Passengers'].values
total_passengers = np.sum(passenger_counts)
print("Total passengers:", total_passengers)
high_passengers = df[df['Passengers']>400]
print(high_passengers)
print(len(high_passengers))

Total passengers: 40363
       Month  Passengers
90   1956-07         413
91   1956-08         405
101  1957-06         422
102  1957-07         465
103  1957-08         467
104  1957-09         404
113  1958-06         435
114  1958-07         491
115  1958-08         505
116  1958-09         404
122  1959-03         406
124  1959-05         420
125  1959-06         472
126  1959-07         548
127  1959-08         559
128  1959-09         463
129  1959-10         407
131  1959-12         405
132  1960-01         417
134  1960-03         419
135  1960-04         461
136  1960-05         472
137  1960-06         535
138  1960-07         622
139  1960-08         606
140  1960-09         508
141  1960-10         461
143  1960-12         432
28

4. The average monthly passengers

In [9]:
average_monthly_passengers=np.mean(passenger_counts)
print("Average Monthly Passengers=",round(average_monthly_passengers))

Average Monthly Passengers= 280

5. The square
root of passenger counts for the first 12 months (Januaryâ€“December 1949) to
estimate variability.

In [10]:
sqrt_1949 = np.sqrt(passenger_counts[:12])
print("Passenger counts (1949):", sqrt_1949)

Passenger counts (1949): [10.58300524 10.86278049 11.48912529 11.35781669 11.         11.61895004
 12.16552506 12.16552506 11.66190379 10.90871211 10.19803903 10.86278049]

6. Compare Passenger Counts Across Years

In [11]:
passengers_1950 = passenger_counts[12:24] 
passengers_1951 = passenger_counts[24:36] 

total_1950 = np.sum(passengers_1950)
total_1951 = np.sum(passengers_1951)


avg_1950 = np.mean(passengers_1950)
avg_1951 = np.mean(passengers_1951)

print("Total passengers in 1950:", total_1950)
print("Total passengers in 1951:", total_1951)
print("Average passengers in 1950:", avg_1950)
print("Average passengers in 1951:", avg_1951)

print("Difference in average (1951 - 1950):", avg_1951 - avg_1950)

Total passengers in 1950: 1676
Total passengers in 1951: 2042
Average passengers in 1950: 139.66666666666666
Average passengers in 1951: 170.16666666666666
Difference in average (1951 - 1950): 30.5

7. Extract passenger counts for 1950 and 1951 (12 months each) using slicing. Create two NumPy arrays and calculate:

In [12]:
passengers_1950 = passenger_counts[12:24]
passengers_1951 = passenger_counts[24:36]

total_1950 = np.sum(passengers_1950)
total_1951 = np.sum(passengers_1951)

print("Total passengers in 1950:", total_1950)
print("Total passengers in 1951:", total_1951)

Total passengers in 1950: 1676
Total passengers in 1951: 2042

8. The total passengers for each year.

In [13]:
total_1950 = np.sum(passengers_1950)
total_1951 = np.sum(passengers_1951)
print("Total passengers in 1950:", total_1950)
print("Total passengers in 1951:", total_1951)

Total passengers in 1950: 1676
Total passengers in 1951: 2042

9. The difference
in average monthly passengers between 1951 and 1950

In [14]:
avg_diff = np.mean(passengers_1951) - np.mean(passengers_1950)
print("Avg monthly passenger difference (1951 - 1950):", avg_diff)

Avg monthly passenger difference (1951 - 1950): 30.5