In [22]:
import pandas as pd
import numpy as np

In [23]:
df = pd.DataFrame({'A':[1,3,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
print(df)

     A    B  C
0  1.0  5.0  1
1  3.0  NaN  2
2  NaN  NaN  3

In [24]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [25]:
df_1 = pd.DataFrame({'A':[5,3,np.nan],
                  'B':[6,np.nan,np.nan],
                  'C':[8,2,8]})
print(df_1)

     A    B  C
0  5.0  6.0  8
1  3.0  NaN  2
2  NaN  NaN  8

In [26]:
df_1['A'].fillna(value=df_1['A'].mean())

0    5.0
1    3.0
2    4.0
Name: A, dtype: float64